<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mk.tm.android.twitch" android:versionCode="2" android:versionName="1.1">
    <uses-sdk android:minSdkVersion="8"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
     <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/> -->

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="mk.tm.android.twitch.WidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <receiver android:name="mk.tm.android.twitch.WidgetProvider" android:label="Twitch">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="mk.tm.android.twitch.MOBILE_CONNECTIVITY_CHANGED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/>
        </receiver>
        <!-- <receiver android:name=".WidgetProviderFull" android:label="T Switch (Full)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="mk.t.android.MOBILE_CONNECTIVITY_CHANGED"/>
                <action android:name="android.intent.action.SYNC_STATE_CHANGED" />
                <action android:name="com.android.sync.SYNC_CONN_STATUS_CHANGED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info_full" />
        </receiver>-->
        <service android:name="mk.tm.android.twitch.services.WifiService"/>
        <service android:name="mk.tm.android.twitch.services.MobileService"/>
        <service android:name="mk.tm.android.twitch.services.BluetoothService"/>
        <service android:name="mk.tm.android.twitch.services.SyncService"/>
        <service android:name="mk.tm.android.twitch.services.LocationService"/>
    </application>
</manifest>
